@import "colors";
@import "mixins";

.button {
  display: inline-block;
  padding: 18px 36px;
  border: 2px dashed black;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  background-color: $mediumChampagne;
  color: black;
  &:hover {
    background-color: white;
    color: black;
  }
}

@include mobile() {
  .button {
    padding: 12px 24px;
    font-size: 1.6rem;
  }
}