@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');
@import "colors";

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $cultured;
  font: 1.4rem 'Poppins', sans-serif;
  color: black;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}