@import "colors";
@import "mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .logo {
    cursor: pointer;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      padding: 5px;
      margin-left: 35px;
      font-size: 1.6rem;
      &:hover {
        font-weight: 500;
        text-decoration: dashed underline;
        text-underline-offset: 6px;
        color: black;
      }
    }
  }
}

@include mobile() {
  .header {
    padding: 10px;
    li a {
      padding: 0px;
      margin-left: 5px;
      font-size: 1.4rem;
    }
  }
}