@import "colors";
@import "mixins";

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px 0;

  ul {
    display: flex;
    list-style: none;

    li {
      padding: 5px;
      margin-left: 35px;
      font-size: 0.8rem;

      &:hover {
        font-weight: 500;
        text-decoration: underline;
        color: white;
      }
    }
  }
}

@include mobile() {
  .header {
    padding: 0 10px 20px;
  }
}