@import "mixins";

.list {
  margin: 50px 0;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 80px 30px 40px;
    background-color: white;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 600;
    }
    a {
      &:hover {
        text-decoration: 1px dashed underline;
        text-underline-offset: 6px;
      }
    }
  }
}

@include mobile() {
  .list {
    .item {
      flex-direction: column;
      padding: 30px;
      text-align: center;
    }
  }
}